.acf-field-frontend-attribute .acf-input .acf-field,
.acf-field-frontend-wrapper .acf-input .acf-field {
  margin: 0;
  padding: 7px;
  float: left;
  clear: none; }
  .acf-field-frontend-attribute .acf-input .acf-field:first-of-type,
  .acf-field-frontend-wrapper .acf-input .acf-field:first-of-type {
    padding-left: 0; }
  .acf-field-frontend-attribute .acf-input .acf-field:last-of-type,
  .acf-field-frontend-wrapper .acf-input .acf-field:last-of-type {
    padding-right: 0; }

.acf-field-frontend-attribute [data-insert-placeholder],
.acf-field-frontend-wrapper [data-insert-placeholder] {
  display: inline-block;
  white-space: nowrap;
  cursor: move; }

.acf-field-frontend-wrapper .acf-input .acf-field {
  width: 33%; }

.acf-field-frontend-wrapper .acf-input .placeholders {
  margin-left: 33%;
  clear: left;
  padding: 7px; }

.acf-field-frontend-attribute .acf-input .acf-field {
  width: 50%; }
