.acf-field-frontend-attribute,
.acf-field-frontend-wrapper {
	.acf-input {
		.acf-field {
			margin:0;
			padding:7px;
			float:left;
			clear:none;
			&:first-of-type {
				padding-left:0;
			}
			&:last-of-type {
				padding-right:0;
			}
		}
	}
	[data-insert-placeholder] {
		display:inline-block;
		white-space:nowrap;
		cursor:move;
	}
}
.acf-field-frontend-wrapper {
	.acf-input {
		.acf-field {
			width:33%;
		}
		.placeholders {
			margin-left:33%;
			clear:left;
			padding:7px;
		}
	}
}
.acf-field-frontend-attribute {
	.acf-input {
		.acf-field {
			width:50%;
		}
	}
}
